a:link {  font-family: Garamond, sans-serif; font-size: 16pt; color: #FFFFFF}
a:hover {  font-family: Garamond, sans-serif; font-size: 16pt; font-style: italic; color: #FFFFFF}
a:active {  font-family: Garamond, sans-serif; font-size: 16pt; color: #FFFFFF}